.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-content {
    border: 4px solid var(--borderColor);
    width: 900px;
    min-height: 500px;
    max-height: 600px;
    background-color: var(--backgroundModal);
    padding: var(--generalPadding);
    position: relative;
    color: var(--textColor);
}
.modal-content p{
    font-size: calc(var(--headersSize)*0.8);
    padding: 5px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}
.modal-content h2{
    padding-bottom: 5px;
}
/* certificate modal */
.content-center{
    text-align: center;
}
/* about modal */
.modal-text-container {
    max-height: 500px;
    overflow-y: auto;
    background-color: rgba(205, 204, 204, 0.2);
    border-radius: 8px;
}
/* cert modal */
.date-place{
    display: flex;
    justify-content: space-around; 
    position: absolute;
    bottom: var(--generalPadding);
    left: 0;
    right: 0;
}

.modal-content img{
    border: 2px solid var(--borderColor);
    border-radius: 8px;
    max-width: 600px;
    /* object-fit: cover;  */
    
}
.modal-cert-container{
    height: 370px;
   overflow: hidden;
   overflow-y: auto;
   background-color: rgba(205, 204, 204, 0.2);
    border-radius: 8px;
}

/* project modal */
.projects-bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: var(--generalPadding);
    gap: 5px;
}
.content-link{
    border: 2px solid var(--borderColor);
    border-radius: 8px;
    padding: 5px;
}
.modal-container{
    max-height: 300px;
    overflow-y: auto;
    background-color: rgba(205, 204, 204, 0.2);
    border-radius: 8px;
}
@media only screen and (max-width: 775px){
    .modal-content img{
        max-width: 100%;
    }
    .modal-content h2{
        font-size: calc(0.9*var(--headersSize));
        padding-bottom: 15px;
    }
    .content-link{
        padding: 0 5px;
    }
}