.contact-me {
    padding: 0 var(--generalPadding);
}
.contact-box {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.contact-form, .contact-details {
    width: 48%;
    min-height: auto;
}
.contact-form p{
    text-align: center;
}
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}
.first-row {
    display: flex;
    gap: 20px;
}
.first-row p{
    width: 50%;
}
.contact-form, .contact-details p {
    border: 4px solid var(--borderColor);
    background-color: var(--mainColor);
    padding: var(--generalPadding);
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
