.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--generalPadding);
}
.resume-box{
    width: 70%;
}
.resume-iframe {
    border: none;
    width: 100%;
    height:100vh;
}
.button-box{
    padding-top: 15px;
}